h1 {
  background-color: rgb(206, 0, 0);
  color: white;
  font-size: 40px;
  font-family: Verdana;
  font-weight: bold;
  padding: 30px;
  border: 15px;
}

#login {
  color: white;
  padding-left: 700px;
  font-size: 25px;
}

.topnav {
  background-color: rgb(80, 80, 80);
  height: 50px;
  padding: 10px;
  padding-top: 30px;
  text-align: right;
}

.navlink {
  font-size: 30px;
  color: white;
  padding: 10px;
}

.aside {
  height: 240px;
  width: 360px;
  padding: 20px 10px 20px 10px;
  margin: 0 20px 20px 0px;
}

.aside-text {
  padding: 50px 0 0 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: larger;
}

.images {
  display:flex;
}
.images .left {
  flex: 1;
  padding: 20px;
}
.images .right {
  flex: 1;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50;
  font-weight: bold;
  padding-left: 50px;
}

.text {
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

.footer {
  background-color: rgb(80, 80, 80);
  color: white;
  padding: 35px;
  font-size: larger;
}